.App {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  display: inline-flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8pt;
  background-color: #003180;
  box-shadow: 0 0 4px #7b92e5;
  color: white;
  font-weight: bold;
}